body {
    background:#222;

}

canvas {
  --width: 600px;
  --height: 600px;
  --margin-left: calc( var(--width) / -2);
  --margin-top: calc(var(--height) / -2);
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--width);
    height: var(--height);
    margin-left: var(--margin-left);
    margin-top: var(--margin-top);
}